name: Build on push to main

on:
  push:
    branches:
      - 'main'

jobs:
  release:
    name: Release
    strategy:
      fail-fast: false
      matrix:
        include:
          - kind: linux
            os: ubuntu-latest
            target: linux-x64
          - kind: windows
            os: windows-latest
            target: win-x64
          - kind: macOS
            os: macos-latest
            target: osx-x64
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout (with submodules)
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'
      - name: Restore
        run: dotnet restore
      - name: Build Releases
        shell: bash
        run: |
          tag="$(git rev-parse --short "$GITHUB_SHA")"
          release_name="App-$tag-${{ matrix.target }}"
          dotnet publish \
            --configuration Release \
            --runtime "${{ matrix.target }}" \
            --self-contained true \
            -p:PublishSingleFile=true \
            --output "$release_name"
